.titulo {
    margin-top: 50px;
}

.titulo h2 {
    color: #C61A10;
    font-weight: bolder;
}

.titulo img {
    width: 800px;
}

.row {
    margin-top: 60px;
}

.card {
    width: 400px;
    border: 3px solid black;
}

.perfil {
    width: 120px;
}

.card-subtitle {
    font-weight: bold;
}

@media (max-width: 767px) {
    .titulo img {
        display: none;
    }
}