.redes-contatos {
    background-color: #0A0A0A;
}

.redes-sociais img {
    width: 60px;
    margin-top: 70px;
    border-radius: 50%;
}

.redes-sociais img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
  }

.contatos img {
    width: 30px;
    display: none;
}

.copyright {
    background-color: black;
    letter-spacing: 1.5px;
}

.copyright a {
    color: white;
}

.copyright a:hover {
    color: #E62813;
}

.copyright span {
    font-weight: 600;
}