<footer class="mt-3">
    <div class="redes-contatos">
        <div class="redes-sociais d-flex justify-content-center">
            @for (item of redesSociais; track item) {
              <a [href]="item.link" target="_blank"><img [src]="item.foto" alt="icon de rede social" class="mx-3 mx-md-4"></a>
            }
        </div>
        <div class="contatos row text-center text-white mt-4">
            @for (item of contatos; track contatos) {
              <span class="col-12 col-md-3 my-3"><img [src]="item.foto" alt="icon de contato" class="d-md-inline me-2"> {{item.contato}}</span>
            }
        </div>
    </div>
    <div class="copyright text-center text-white py-3">
        &copy; {{currentYear}} PowerFit. Todos os direitos reservados. Desenvolvido por <a [href]="githubLeandro" target="_blank" class="text-decoration-none"><span>Leandro Gonçalves Crisóstomo</span></a>.
    </div>
</footer>
