.redes-contatos {
    background-color: #0A0A0A;
}

.redes-sociais img {
    width: 60px;
    margin-top: 70px;
    border-radius: 50%;
}

.contatos img {
    width: 30px;
}

.copyright {
    background-color: black;
}