* {
    color: white;
}

.redes-contatos {
    background-color: #0A0A0A;
    padding: 0 15px;
}

.redes-sociais img {
    width: 50px;
    margin-top: 70px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.redes-sociais img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.contatos img {
    width: 30px;
    display: none;
}

.contatos span {
    text-align: center;
}

.copyright {
    background-color: black;
    letter-spacing: 1.5px;
}

.copyright a {
    color: white;
}

.copyright a:hover {
    color: #E62813;
}

.copyright span {
    font-weight: 600;
}

.contatos.row {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 968px) {
    .redes-sociais img {
        width: 60px;
    }

    .contatos img {
        display: inline-block;
    }
}