/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.sem-marcadores {
    list-style-type: none;
    padding-left: 0;
}